@using Laboratorio5_EDD.DTO;

@{
    ViewData["Title"] = "ListAutos";
}

<h1>ListAutos</h1>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Placa
            </th>
            <th>
                Color
            </th>
            <th>
                Propietario
            </th>
            <th>
                Latitud
            </th>
            <th>
                Logitud
            </th>

        </tr>
    </thead>
    <tbody>
        @if (ViewData["ListaAutos"] == null)
        {
        <tr>
                    <td>
                        No hay data
                        </td>
            </tr>}
        else
        {
            @foreach (var item in ViewData["ListaAutos"] as List<AutosDTO>)
            {
                <tr>
                    <td>
                        @item.Placa
                    </td>
                    <td>
                        @item.color.Name.ToString()
                    </td>
                    <td>
                        @item.Propietario
                    </td>
                    <td>
                        @item.Latitud
                    </td>
                    <td>
                        @item.Longitud
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-controller="Autos" asp-route-Placa="@item.Placa" asp-action="EditarVehiculo">Editar carro</a>

                        <a class="btn btn-danger" asp-controller="Autos" asp-route-Placa="@item.Placa" asp-action="EliminarAuto">Eliminar carro</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
