@model List<AutosDTO>
@{
    ViewData["Title"] = "Carga de CSV";
}
<h2>@ViewData["Title"]</h2>

@using(Html.BeginForm("SubirArchivos","Ingreso",FormMethod.Post,new {encytape = "multipart/form-data"}))
{
    <label for="file"> Subir Archivo</label>
    <input type = "file" name ="file" id="file"/>
    <input type ="submit" value = "Enviar"/>
}

@if(Model !=null)
{
    <table class = "table tabñe-horver">
    <thead>
        <tr>
            <td>Placa</td>
            <td>Color</td>
            <td>Propietario</td>
            <td>Latitud</td>
            <td>Longitud</td>
            </tr>
    </thead>
@foreach(var carr in Model)
    {
        <tr>
            <td>@carr.Placa</td>
            <td>@carr.Color</td>
            <td>@carr.Propietario</td>
            <td>@carr.Latitud</td>
            <td>@carr.Longitud</td>
        </tr>
    }
</table>
}